<section
  class="navbar max-w-7xl mx-auto w-full justify-between rounded-lg px-4 sm:px-6 lg:px-8 shadow-md"
>
  <div class="flex items-center gap-1 pl-2 sm:pl-5">
    <img src="Logo.svg" alt="logo" class="object-cover h-10 md:h-8 w-auto" />
    <a href="#" class="md:text-base text-xl pl-2 text-[#55CCF8]">HOMESOL</a>
  </div>
  <div
    class="hidden md:flex gap-8 sm:gap-12 md:gap-16 lg:gap-24 text-[#55CCF8]"
  >
    <a href="/solutions" class="text-base">Solutions</a>
    <a href="/pricing" class="text-base">Pricing</a>
    <a href="/support" class="text-base">Support</a>
  </div>
  <div class="flex gap-2 sm:gap-4">
    <button
      class="btn btn-sm font-normal rounded-xl w-20 sm:w-28 text-base border-2 hover:border-[#55CCF8] border-[#55CCF8] outline-[#55CCF8] text-[#55CCF8] bg-white hover:bg-[#55CCF8] hover:text-white"
    >
      Log in
    </button>
    <button
      class="btn btn-sm font-normal rounded-xl w-18 sm:w-28 text-base bg-[#55CCF8] text-white hover:bg-[#58bde2]"
    >
      Sign up
    </button>
  </div>
</section>
