<div class="drawer drawer-open hidden md:block">
  <!-- sidebar for larger screens -->
  <input class="drawer-toggle" type="checkbox" />
  <div class="drawer-side overflow-hidden">
    <label aria-label="close sidebar" class="drawer-overlay"></label>

    <ul class="menu bg-base-200 text-base-content min-h-full w-full p-4">
      <div class="">
        <a routerLink="/"
          ><img src="Logo.png" class="w-10 mx-auto bg-transparent" />
        </a>
      </div>
      <li></li>
      <li><a class="text-xl text-[#55CCF8]">Profile</a></li>
      <li><a class="text-xl text-[#55CCF8]">Order</a></li>
    </ul>
  </div>
  <!-- Header for small screens -->
</div>
<div class="header bg-base-200 text-base-content w-full p-4 block md:hidden">
  <div class="flex items-center justify-between">
    <a routerLink="/">
      <img src="Logo.png" class="w-10 bg-transparent" />
    </a>
    <div class="me-4">
      <a class="text-xl mr-4" routerLink="user/profile">Profile</a>
      <a class="text-xl" routerLink="user/order">Order</a>
    </div>
  </div>
</div>
