<section
  class="navbar mx-auto w-full justify-between rounded-lg px-4 md:px-2 xl:px-6 shadow"
>
  <div class="flex items-center gap-1 pl-2 lg:pl-40">
    <img src="Logo.svg" alt="logo" class="object-cover h-10 md:h-8 w-auto" />
    <a href="" class="md:text-lg text-xl pl-2 text-[#55CCF8]">HOMESOL</a>
  </div>
  <div
    class="hidden md:flex gap-8 sm:gap-12 md:gap-16 lg:gap-24 text-[#55CCF8]"
  >
    <a routerLink="/" class="text-lg">Solutions</a>
    <a routerLink="order/select" class="text-lg">Pricing</a>
    <a routerLink="/support" class="text-lg">Support</a>
  </div>
  <div class="flex gap-2 sm:gap-4">
    <button
      class="btn btn-sm font-normal rounded-xl w-20 sm:w-28 text-lg border-2 hover:border-[#55CCF8] border-[#55CCF8] outline-[#55CCF8] text-[#55CCF8] bg-white hover:bg-[#55CCF8] hover:text-white"
      routerLink="auth/login"
    >
      Log in
    </button>
    <button
      class="btn btn-sm font-normal rounded-xl w-18 sm:w-28 text-lg bg-[#55CCF8] text-white hover:bg-[#58bde2]"
      routerLink="auth/signup"
    >
      Sign up
    </button>
  </div>
</section>
