<div class="flex justify-center">
  <div
    class="navbar max-w-7xl mx-auto w-full justify-between rounded-lg px-4 sm:px-6 lg:px-8 shadow-sm"
  >
    <div class="flex items-center gap-1 pl-2 sm:pl-5">
      <img src="Logo.svg" alt="logo" class="object-cover h-8 w-auto" />
      <a href="#" class="text-base pl-2 text-[#55CCF8]">HOMESOL</a>
    </div>
    <div
      class="hidden md:flex gap-8 sm:gap-12 md:gap-16 lg:gap-24 text-[#55CCF8]"
    >
      <a href="/solutions" class="text-base">Solutions</a>
      <a href="/pricing" class="text-base">Pricing</a>
      <a href="/support" class="text-base">Support</a>
    </div>

    <div class="flex gap-2 sm:gap-4">
      <button
        class="btn outline rounded-xl w-14 sm:w-28 h-10 outline-2 text-base outline-[#55CCF8] text-[#55CCF8] bg-white hover:bg-white"
      >
        Log in
      </button>
      <button
        class="btn rounded-xl w-14 sm:w-28 h-10 text-base bg-[#55CCF8] text-white hover:bg-[#55CCF8]"
      >
        Sign up
      </button>
    </div>
  </div>
</div>
