<!-- Title start -->
<div class="mt-12 flex flex-col md:flex-row lg:text-start lg:justify-between">
  <div class="space-y-4 max-w-sm mx-auto text-center sm:text-left">
    <h2 class="text-3xl lg:text-5xl">Select your kit</h2>
  </div>
</div>
<!-- Title end -->

<div
  class="mt-12 flex flex-col md:flex-row gap-4 lg:text-start lg:justify-between"
>
  <!-- Slider start -->
  <div class="space-y-4 max-w-sm text-center sm:text-left mx-auto">
    <h2 class="text-xl">How long do you need your items?</h2>
    <div class="flex items-center mt-4">
      <div class="flex-none items-start text-center text-[#55ccf8]">
        <h2 class="text-3xl font-normal">12</h2>
        <h2>Months</h2>
      </div>
      <div class="flex-1 flex items-center justify-center ml-8">
        <input
          type="range"
          min="1"
          max="24"
          value="12"
          step="1"
          class="w-full range"
        />
      </div>
    </div>
    <!-- Slider end -->

    <!-- Option start -->
    <h2 class="text-xl">What do you need?</h2>

    <div class="grid gap-y-6">
      <div
        class="card card-side rounded-lg flex items-center justify-between bg-[#F8F8F8] cursor-pointer"
      >
        <img src="Tech.png" width="60px" class="ms-6" />
        <div class="card-body ms-2 p-5">
          <h2 class="card-title">Technology kit</h2>
          <p class="text-sm">
            Essential devices for your productivity and entertainment
          </p>
        </div>
      </div>
      <div
        class="card card-side rounded-lg flex items-center justify-between bg-[#F8F8F8] cursor-pointer outline outline-[#55ccf8]"
      >
        <img src="Appliance.png" width="60px" class="ms-6" />
        <div class="card-body ms-2 p-5">
          <h2 class="card-title">Appliances kit</h2>
          <p class="text-sm">
            Everything you need to keep your new life functioning
          </p>
        </div>
      </div>
      <div
        class="card card-side rounded-lg flex items-center justify-between bg-[#F8F8F8] cursor-pointer"
      >
        <img src="Kitchen.png" width="60px" class="ms-6" />
        <div class="card-body ms-2 p-5">
          <h2 class="card-title">Kitchen kit</h2>
          <p class="text-sm">
            Necessary tools at your fingertips to create delicious meals
          </p>
        </div>
      </div>
    </div>
    <!-- Option End -->
  </div>

  <!-- Card Placeholder-->
  <div class="card w-96 bg-base-100 shadow-xl mx-auto">
    <figure>
      <img
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
        alt="Shoes"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Placeholder--!</h2>
      <p>If a dog chews shoes whose shoes does he choose?</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Buy Now</button>
      </div>
    </div>
  </div>
</div>
