<!-- Title start -->
<div class="mt-12 flex flex-col md:flex-row lg:text-start lg:justify-between">
  <div class="space-y-4 max-w-sm mx-auto text-center sm:text-left">
    <h2 class="text-3xl lg:text-5xl">Select your kit</h2>
  </div>
</div>
<!-- Title end -->

<div
  class="mt-12 flex flex-col gap-6 md:gap-3 md:flex-row lg:text-start lg:justify-between"
>
  <!-- Slider start -->
  <div class="space-y-4 max-w-sm text-center sm:text-left mx-auto">
    <h2 class="text-xl">How long do you need your items?</h2>
    <div class="flex items-center mt-4">
      <div class="flex-none items-start text-center text-[#55ccf8]">
        <h2 class="text-3xl font-normal">{{ subDuration }}</h2>
        <h2>Months</h2>
      </div>
      <div class="flex-1 flex items-center justify-center ml-8">
        <input
          type="range"
          min="1"
          max="24"
          [value]="subDuration"
          step="1"
          class="w-full range"
          (input)="onDuration($event)"
        />
      </div>
    </div>
    <!-- Slider end -->

    <!-- Option start -->
    <h2 class="text-xl">What do you need?</h2>

    <div class="grid md:gap-y-14 gap-y-8">
      <div
        class="card card-side rounded-lg flex items-center justify-between bg-[#F8F8F8] cursor-pointer"
        (click)="onSelectKit('technology')"
        [class.outlined]="selectedKit === 'technology'"
      >
        <img src="Tech.png" width="60px" class="ms-6" />
        <div class="card-body ms-2 p-5 text-start">
          <h2 class="card-title">Technology kit</h2>
          <p class="text-sm">
            Essential devices for your productivity and entertainment
          </p>
        </div>
      </div>
      <div
        class="card card-side rounded-lg flex items-center justify-between bg-[#F8F8F8] cursor-pointer"
        (click)="onSelectKit('appliance')"
        [class.outlined]="selectedKit === 'appliance'"
      >
        <img src="Appliance.png" width="60px" class="ms-6" />
        <div class="card-body ms-2 p-5 text-start">
          <h2 class="card-title">Appliances kit</h2>
          <p class="text-sm">
            Everything you need to keep your new life functioning
          </p>
        </div>
      </div>
      <div
        class="card card-side rounded-lg flex items-center justify-between bg-[#F8F8F8] cursor-pointer"
        (click)="onSelectKit('kitchen')"
        [class.outlined]="selectedKit === 'kitchen'"
      >
        <img src="Kitchen.png" width="60px" class="ms-6" />
        <div class="card-body ms-2 p-5 text-start">
          <h2 class="card-title">Kitchen kit</h2>
          <p class="text-sm">
            Necessary tools at your fingertips to create delicious meals
          </p>
        </div>
      </div>
    </div>
    <!-- Option End -->
  </div>

  <!-- Kit Info -->
  <div
    class="card w-4/5 sm:w-3/5 md:w-2/5 h-auto md:h-max mx-auto bg-[#DAF1FD] rounded-md"
  >
    <div class="pl-9 pt-9">
      <h1 class="text-3xl">In your kit</h1>
    </div>
    <div class="card-body gap-7">
      <div
        class="flex flex-row justify-between items-center"
        *ngFor="let product of kitItems"
      >
        <h3 class="text-lg font-normal">{{ product.name }}</h3>
        <div
          class="flex items-center justify-between outline outline-2 w-20 rounded-sm h-6"
        >
          <button
            class="btn bg-transparent border-none shadow-none text-black hover:bg-transparent font-bold text-lg"
          >
            -
          </button>
          <span class="font-bold">1</span>
          <button
            class="btn bg-transparent border-none shadow-none text-black hover:bg-transparent text-lg"
          >
            +
          </button>
        </div>
      </div>

      <hr class="border-[#8F9EA3] border-t-2" />
      <div class="flex flex-row justify-between items-center">
        <h1 class="text-3xl">Total</h1>
        <h1 class="text-3xl">$35</h1>
      </div>
    </div>
  </div>
</div>
