<div class="flex flex-col md:flex-row gap-4 lg:text-start lg:justify-between">
  <div class="space-y-4 max-w-sm mx-auto text-center sm:text-left">
    <h1
      class="text-3xl lg:text-4xl md:pt-8 text-center md:text-left font-normal leading-tight"
    >
      Flexible, cost-efficient home appliances for rent
    </h1>
    <p class="text-center md:text-left">
      One stop home essentials <br />
      for your life abroad
    </p>
    <div class="flex justify-center md:justify-start">
      <button
        class="btn btn-md bg-[#55CCF8] hover:bg-[#58bde2] text-white w-44 text-center text-lg"
        routerLink="/order/select"
      >
        Browse our kits
      </button>
    </div>
  </div>
  <div class="flex justify-center md:justify-start w-auto">
    <img src="FrontPageImage.png" class="h-fit w-fit" />
  </div>
</div>
