<section class="mt-48">
  <div class="text-center">
    <h2 class="text-3xl">How it works</h2>
    <p class="mt-2">The steps to set up your home away from home</p>
  </div>
</section>

<section>
  <div class="flex flex-col md:flex-row md:justify-between p-6">
    <div class="flex flex-col text-center items-center flex-1 mt-8 md:mt-6">
      <img src="searchIcon.png" width="100px" class="self-center" />
      <h2 class="text-2xl mt-3">Select kits</h2>
      <p class="mt-4 text-sm max-w-[13rem]">
        Select from our kits, bundles, or customize your own
      </p>
    </div>
    <div class="flex flex-col text-center items-center flex-1 mt-8 md:mt-6">
      <img
        src="deliveryIcon.png"
        width="100px"
        class="self-center bg-[#F7F8FC]"
      />
      <h2 class="text-2xl mt-3">Delivery</h2>
      <p class="mt-4 text-sm max-w-[13rem]">
        We deliver everything you need to your doorstep
      </p>
    </div>
    <div class="flex flex-col text-center items-center flex-1 mt-8 md:mt-6">
      <img src="returnIcon.png" width="100px" class="self-center" />
      <h2 class="text-2xl mt-3">Return</h2>
      <p class="mt-4 text-sm max-w-[13rem]">
        Return all your items back to us before you leave the country
      </p>
    </div>
  </div>
</section>

<section class="mt-10">
  <div class="flex justify-center">
    <button
      class="btn btn-md bg-[#55CCF8] hover:bg-[#58bde2] text-white w-44 text-center text-lg"
      routerLink="/order/select"
    >
      Try our kits today
    </button>
  </div>
</section>
