<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <section
    class="flex flex-row md:flex-col bg-gray-100 shadow-lg max-w-screen-xl w-full"
  >
    <div
      class="flex flex-1 max-h-[90vh] bg-white shadow sm:rounded-lg justify-center overflow-hidden"
    >
      <div class="flex flex-1 flex-col md:flex-row text-center w-full">
        <div class="flex md:w-1/4">
          <app-drawer class="w-full overflow-y-auto"></app-drawer>
        </div>

        <div
          class="flex flex-1 lg:flex-auto p-12 w-full bg-[#F9FAFB] overflow-y-auto no-scrollbar"
        >
          <app-order-info class="w-full"></app-order-info>
        </div>
      </div>
    </div>
  </section>
</div>
