<div class="min-h-screen bg-gray-100 text-gray-900 flex justify-center">
  <div
    class="max-w-screen-xl m-0 sm:m-10 bg-white shadow sm:rounded-lg flex justify-center flex-1"
  >
    <div class="flex-1 bg-[#bae6fd] text-center hidden lg:flex">
      <div
        class="m-12 xl:m-16 w-full bg-contain bg-center bg-no-repeat"
        style="background-image: url('delivery.png')"
      ></div>
    </div>
    <div class="lg:w-1/2 p-6 sm:p-12">
      <div>
        <a routerLink="/"><img src="Logo.png" class="w-20 mx-auto" /> </a>
      </div>
      <div class="mt-12 flex flex-col items-center">
        <h1 class="text-2xl xl:text-3xl font-extrabold">Thank you!</h1>

        <div class="w-full flex-1 mt-8">
          <div class="flex flex-col items-center">
            <button
              class="w-full max-w-xs font-bold shadow-sm rounded-lg py-3 bg-indigo-100 text-gray-800 flex items-center justify-center transition-all duration-300 ease-in-out focus:outline-none hover:shadow focus:shadow-sm focus:shadow-outline"
            ></button>
          </div>

          <div class="my-12 border-b text-center"></div>

          <div class="mx-auto max-w-xs">
            <p class="mt-6 text-xs text-gray-600 text-center">
              I agree to abide by Homesol's
              <a href="#" class="border-b border-gray-500 border-dotted">
                Terms of Service
              </a>
              and its
              <a href="#" class="border-b border-gray-500 border-dotted">
                Privacy Policy
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
